<suite name="demoqa-automation TestSuite">
	<test name="Elements test">
		<classes>
			<class name="tests.ElementsTests" />
		</classes>
	</test>
	<test name="Forms test">
		<classes>
			<class name="tests.FormTests" />
		</classes>
	</test>
	<test name="Alerts-Forms-Windows test">
		<classes>
			<class name="tests.AlertsFramesWindowsTests" />
		</classes>
	</test>
</suite>